# java/gradle
.gradle/
build/
out/
*.class

# ide files
.idea/
.vscode/
*.iml

# mac files
.DS_Store

# logs
*.log

### Eclipse ###

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
